*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
  background-color: #21232A;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  padding: 2.5%;
}
button {
  font-size: 1rem;
  padding: 2%;
}

input {
  width: 100%;
  font-size: 1rem;
  color: #21232A;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-grid h3{
  margin: 2%;
}

.card {
  align-content: center;
  border: 1px solid white;
  font-size: .8rem;
  border-radius: 2px;
  margin-bottom: 2%;
  margin-right: 2%;
  overflow: hidden;

}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 150px;
  max-width: 100%;
}